<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>table handler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



</head>

<body class="container">
        <div id="app">
             <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active" @click="navTo('')">
                      <a class="nav-link" href="#" >Home </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" @click="navTo('form-create')">Create field</a>
                    </li>
                    
                  </ul>
                </div>
              </nav>


         

        <component v-bind:is="currentView"></component>

    </div>

    <script type="text/x-template" id="formCreateEdit">

        <div class="card">
        <div class="card-header">Create/edit view</div>
        <div class="card-body">
            
            <div class="form-group">
                <label><b>Id</b> {{form.Id }}</label>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Config Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control w-50" v-model="form.ConfigName">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" >Table/VIEW SQL</label>
                <div class="col-sm-10">
                <input type="text" class="form-control w-50" v-model="form.TableName">
            </div>
            </div>

            <template v-for="(field, index) in form.QueryFields" :key="index">
                <hr />
                <div class="card">
                <div class="card-body">


                <button @click="removeField(form, index)">Remove Field</button>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Field Name</label>
                    <div class="col-sm-10"><input class="form-control w-50" v-model="field.Name" /></div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Friendly Name</label>
                    <div class="col-sm-10"><input class="form-control w-50" v-model="field.FriendlyName" /></div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Type</label>
                    <div class="col-sm-10">
                        <select v-model="field.Type" class="form-control w-50">
                            <option disabled value="">Please select one</option>
                            <option>integer</option>
                            <option>decimal</option>
                            <option>string</option>
                            <option>DateTime</option>
                        </select>
                    </div>
                </div>



                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" v-model="field.IsFilter" />
                    <label class="form-check-label">Allow Filter</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" v-model="field.IsSort" />
                    <label class="form-check-label">Allow Sort</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" v-model="field.Display" />
                    <label class="form-check-label">Display it</label>
                </div>


               
                </div>
                </div>

            </template>
            <button @click="addField(form)">Add another field</button>
            </div>
            <button class="btn btn-primary" @click="create">save</button>    
        </div>
       
    </script>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script>
        let GLOBALS = {
            BASE_URL : '%(BaseUrl)'
        }

        function FormQueryObject() 
        {
            this.Id= 0;
            this.ConfigName =  "";
            this.TableName =  "";
            this.QueryFields = [
                {
                    "Name": "",
                    "FriendlyName": null,
                    "IsFilter": false,
                    "IsSort": false,
                    "Display": true,
                    "Type": null,
                }
            ]
        }
        

        Vue.component('form-create', {
            data: function () {
                return {
                    count: 0,
                    form: new FormQueryObject()
                }
            },
            methods: {
             
                create: function(){
                    let vm = this;
                    axios.post(GLOBALS.BASE_URL+'/create', vm.form )
                      .then(function (response) {
                        console.log(response);
                      })
                      .catch(function (error) {
                        console.log(error);
                      });
                },
                removeField: function (form, index) {
                    form.QueryFields.splice(index, 1);
                },
                addField: function (form) {
                    form.QueryFields.push({
                        "Name": "",
                        "FriendlyName": null,
                        "IsFilter": false,
                        "IsSort": false,
                        "Display": true,
                        "Type": null,
                    })
                },
                clearForm : function(){
                    this.form = new FormQueryObject();
                },
            },
            template: '#formCreateEdit'
        });

        new Vue({
            el: "#app",
            data: function () {
                return {
                    msg: "Hello World!",
                    currentViewComponent: 'form-create'
                }
            },
            created:function(){
                this.loadData();
            },
            methods: {
                loadData: function(){
                    axios.get(GLOBALS.BASE_URL+'/load')
                    .then(function (response) {
                      console.log(response);
                    })
                    .catch(function (error) {
                      console.log(error);
                    });
                },
                navTo: function(page){
                    this.currentViewComponent = page;
                },
            },
            computed: {
                currentView: function () {
                    return this.currentViewComponent
                }
            }
        });
    </script>
</body>

</html>